<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <%= original_image_tag(item) %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <% i = Item.find_by(item_code: item['itemCode']) %>
            <%= item_name(item) %>
          </p>
        </div>
        <div class="action clearfix">
          <% if current_user.want? i %>
            <%= render 'items/unwant' , item: i %>
          <% else %>
            <%= render 'items/want' , item: item %>
          <% end %> 
          
          <% if current_user.have? i %>
            <%= render 'items/unhave' , item: i %>
          <% else %>
            <%= render 'items/have' , item: item %>
          <% end %> 

        </div>
      </div>
    <% end %>
  </div>
</div>
