<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <%= original_image_tag(@item) %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <%= render @item.have_users %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <%= render @item.want_users %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to('楽天詳細ページへ', @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>

<%= content_for :title do %>
  <title><%= "#{@item.title} - monolist" %></title>
<% end %>

<%= content_for :description do %>
  <meta name="description" content='<%= "#{@item.title}に関する情報です。この商品を欲しい人、持ってる人を表示しています。" %>'>
<% end %>  